
gfx/flags/RUS_paternal_autocrat.tga
gfx/flags/small/ALP.tga
common/bookmarks/the_gathering_storm.txt
common/national_focus/francee.txt
common/ideologies/00_ideologies.txt
common/countries/colors.txt
common/countries/Aragon.txt
common/countries/AlpineFed.txt
common/bookmarks/the_gathering_storm.txt
events/French_Republic.txt
gfx/flags/COU.tga
gfx/flags/CRI.tga
gfx/flags/FRA_social_conservative.tga
gfx/flags/RUS_paternal_autocrat.tga
gfx/flags/RUS_totalist.tga
gfx/flags/small/ALP.tga
history/countries/ALP - Alpine Federation.txt
history/states/151-Eastern Switzerland.txt
history/states/157-Abruzzo.txt
history/states/158-Piedmont.txt
history/states/159-Lombardy.txt
history/states/160-Veneto.txt
history/states/161-Emilia Romagna.txt
history/states/162-Tuscany.txt
history/states/2-Italy.txt
history/states/73-Carpathian Ruthenia.txt
history/states/735-Savoy.txt
history/states/76-Northern Transylvania.txt
history/states/761-Italienische Schweiz.txt
history/states/762-Nice.txt
history/states/763-West Alpes.txt
history/states/789-Szeklerland.txt
history/states/795-Trieste.txt
history/states/83-crisana.txt
history/states/838-Liguria.txt
history/states/84-Transylvania.txt
history/states/943-Haute-Savoie.txt
localisation/ARA_l_english.yml
localisation/bookmarks_l_english.yml
localisation/FRA_l_english.yml
